---
layout: default
---

{% include home-header.html %}

<body>

<h1>{{ page.title }}</h1>

<h2>Peer reviewed</h2>

<p>1. Nadeem, M., Thomas, R., Adigun, O., Manful, C., <strong>Wu, J.</strong>, Pham, T.H., Zhu, X., Galagedara, L. and Cheema, M. (2020), Root membrane lipids as potential biomarkers to discriminate silage-corn genotypes cultivated on podzolic soils in boreal climate. <em>Physiol Plantarum</em>, 170: 440-450. <a href="https://doi.org/10.1111/ppl.13181">link</a></p> 
<p>2. Nadeem, M., <strong>Wu, J.</strong>, Ghaffari, H., Kedir, A.J., Saleem, S., Mollier, A., Singh, J. and Cheema, M., 2022. Understanding the adaptive mechanisms of plants to enhance phosphorus use efficiency on podzolic soils in boreal agroecosystems. <em>Frontiers in Plant Science</em>, 13, p.804058. <a href="https://doi.org/10.3389/fpls.2022.804058">link</a></p> 
<p>3. <strong>Wu, J.</strong>, Nadeem, M., Galagedara, L., Thomas, R., Cheema, M. Effects of Chilling Stress on Morphological, Physiological, and Biochemical Attributes of Silage Corn Genotypes during Seedling Establishment. <em>Plants</em> 2022, 11, 1217. <a href="https://doi.org/10.3390/plants11091217">link</a></p>
<p>4. <strong>Wu, J.</strong>, Nadeem, M., Galagedara, L., Thomas, R. and Cheema, M., 2022. Recent insights into cell responses to cold stress in plants: Signaling, defence, and potential functions of phosphatidic acid. <em>Environmental and Experimental Botany</em>, 203, p.105068. <a href="https://doi.org/10.1016/j.envexpbot.2022.105068">link</a></p>  
<p>5. Javed, M. A., Schwelm, A., Zamani-Noor, N., Salih, R., Silvestre Vañó, M., <strong>Wu, J.</strong>, González García, M., Heick, T. M., Luo, C., Prakash, P., & Pérez-López, E. (2023). The clubroot pathogen Plasmodiophora brassicae: A profile update. <em>Molecular plant pathology</em>, 24(2), 89–106. <a href="https://doi.org/10.1111/mpp.13283">link</a></p>  
<p>6. <strong>Wu, J.</strong> and Pérez-López, E., 2023. A multilayer strategy is needed to uncover the clubroot pathogen mysteries. <em>Physiological and Molecular Plant Pathology</em>, p.101971.<a href="https://doi.org/10.1016/j.pmpp.2023.101971">link</a></p>

<h2>Thesis</h2>  

<p><strong>Wu, J.</strong>, 2022. <em>Evaluating role of phosphatidic acid in cold stress tolerance in silage-corn</em> (MSc dissertation, Memorial University of Newfoundland).<a href="https://doi.org/10.48336/QDVD-ZE22">link</a></p>

<body>

<div class="taxonomies-wrapper">
  <ul class="taxonomies">
    {%- for i in (1..max_count) reversed -%}
      {%- for taxonomy in taxonomies -%}
        {%- assign taxonomy_name = taxonomy[0] -%}
        {%- assign slugified_taxonomy_name = taxonomy_name | slugify -%}
        {%- assign posts = taxonomy[1] -%}
        {%- if posts.size == i -%}
          <li>
            {%- capture link -%}{{ page.permalink }}#{{ slugified_taxonomy_name }}{%- endcapture -%}
            <a class="taxonomy" href="{{ link | relative_url }}">
              <span>
                {%- if page.type == 'tags' -%}
                  {{ slugified_taxonomy_name }}
                {%- else -%}
                  {{ taxonomy_name }}
                {%- endif -%}
              </span>
              <span class="taxonomy-count">{{ posts.size }}</span>
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </ul>
</div>

{% comment %} Show posts by taxonomy {% endcomment %}
{%- for i in (1..max_count) reversed -%}
  {%- for taxonomy in taxonomies -%}
    {%- assign taxonomy_name = taxonomy[0] -%}
    {%- assign slugified_taxonomy_name = taxonomy_name | slugify -%}
    {%- assign posts = taxonomy[1] -%}
    {%- if posts.size == i -%}
      <h2 id="{{ slugified_taxonomy_name }}">
        {%- if page.type == 'tags' -%}
          {{ slugified_taxonomy_name }}
        {%- else -%}
          {{ taxonomy_name }}
        {%- endif -%}
      </h2>
      <ul class="post-list-by-taxonomy">
        {%- for post in posts -%}
          <li>
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </li>
        {%- endfor -%}
      </ul>
      <a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>
